APP_URL="MY_APP_URL"
VITE_SITE_URL="https://www.swimholes.com"
SITE_URL="https://www.swimholes.com"
DATABASE_URL=""
VITE_PROPELLER_HOME_BANNER_SRC=""
VITE_PROPELLER_DIRECTORY_TOP_SRC=""
VITE_PROPELLER_DIRECTORY_INLINE_SRC=""
VITE_PROPELLER_DETAIL_SRC=""
VITE_PROPELLER_STICKY_SRC=""
