APP_URL="MY_APP_URL"
VITE_SITE_URL="https://www.swimholes.com"
SITE_URL="https://www.swimholes.com"
DATABASE_URL=""
VITE_ENABLE_ADS="false"
VITE_MONETAG_BANNER_SRC=""
VITE_MONETAG_BODY_TAG_SRC=""
VITE_MONETAG_BODY_TAG_ZONE=""
