APP_URL="MY_APP_URL"
VITE_SITE_URL="https://www.swimholes.com"
SITE_URL="https://www.swimholes.com"
DATABASE_URL=""
VITE_MONETAG_BANNER_SRC="https://5gvci.com/act/files/tag.min.js?z=10831122"
VITE_MONETAG_BODY_TAG_SRC="https://al5sm.com/tag.min.js"
VITE_MONETAG_BODY_TAG_ZONE="10831121"
